
@{
    ViewData["Title"] = "ChooseAlgorithms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table class="table">
    <thead>
        <tr>
            <th>
                Nazwa Algorytmu
            </th>
            <th>
                Szczegóły
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                Dwuzmianowy
            </td>
            <td>
                Dzień/nocka
            </td>

            <td>
                @*<a asp-action="Index">Wybierz</a>*@
            </td>
        </tr>
        <tr>
            <td>
                Czterozmianowy
            </td>
            <td>
                Czterobrygadówka  3x zmiany
            </td>

            <td>
                <a asp-action="Index">Wybierz</a>
            </td>
        </tr>

        <tr>
            <td>
                Dwuzmianowy
            </td>
            <td>
                2x 12h
            </td>

            <td>
                <a asp-action="Index">Wybierz</a>

            </td>
        </tr>

        <tr>
            <td>
                RetailAlgorithm
            </td>
            <td>
                5x zmiany + dodatkowe pole STRING SETTINGSJSON
            </td>

            <td>
                <a asp-action="Index">Wybierz</a>

            </td>
        </tr>

    </tbody>
</table>
