@page 
@model P_zpp_2.Areas.Identity.Pages.Admin.Pracownicy.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Pracownik.Id" />
            <div class="form-group">
                <label asp-for="Pracownik.LastName" class="control-label"></label>
                <input asp-for="Pracownik.LastName" class="form-control" />
                <span asp-validation-for="Pracownik.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pracownik.FirstName" class="control-label"></label>
                <input asp-for="Pracownik.FirstName" class="form-control" />
                <span asp-validation-for="Pracownik.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pracownik.Rola" class="control-label"></label>
                <input asp-for="Pracownik.Rola" class="form-control" />
                <span asp-validation-for="Pracownik.Rola" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pracownik.Email" class="control-label"></label>
                <input asp-for="Pracownik.Email" class="form-control" />
                <span asp-validation-for="Pracownik.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./PracownicyAdmin">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
