@page
@model P_zpp_2.Areas.Identity.Pages.Admin.Pracownicy.AddFacilityModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}


<h1>Dołacz do Placowki </h1>
<h4>lub utworz nowa jesli nie istnieje</h4>

<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="remember"></label>
                <select class="form-control" asp-items=@(new SelectList(Model._myCompany, "CompanyId","CompanyName"))>
                    <option>Select company</option>

                </select>
                <select class="form-control" asp-items=@(new SelectList(Model._myDeparture, "DepartureId","SupervisorId"))>
                    <option>Select Departure</option>

                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>