@model P_zpp_2.Models.MyCustomLittleDatabase.Departures

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="cardlogged">
    <div class="card-header">
        <h2>Usuń</h2>

        <h3>Czy napewno chcesz usunąć?</h3>
        <div>
            <h4>Dział</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2 napis-label">
                    @Html.DisplayNameFor(model => model.Shifts)
                </dt>
                <dd class="col-sm-10 napis-label">
                    @Html.DisplayFor(model => model.Shifts)
                </dd>
                <dt class="col-sm-2 napis-label">
                    @Html.DisplayNameFor(model => model.DepartureName)
                </dt>
                <dd class="col-sm-10 napis-label">
                    @Html.DisplayFor(model => model.DepartureName)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="DeprtureId" />
                <input type="submit" value="Delete" class=" btn   login_btn napis-label " /> 
                <a class=" btn float-md-right  login_btn napis-label" asp-action="Index">Back to List</a>
            </form>
        </div>
