@model P_zpp_2.ViewModels.CompanyDepartuersListViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>
<p>
    <a asp-controller="Departures" asp-action="Create">Create New Department</a>
</p>
<div>
    <h4>Company</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.companies.CompanyName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.companies.CompanyName)
        </dd>
        @{
            int x = 0;
            foreach (var item in Model.departures)
            {
                if (x == 0)
                {
                    <dt class="col-sm-2">

                        @Html.DisplayNameFor(model => model.departures)

                    </dt>
                    x++;
                }
                else
                {
                    <dt class="col-sm-2">

                    </dt>
                }
                <dd class="col-sm-10">

                    @Html.Raw(Html.Encode(item.DepartureName).Replace("\r\n", "<br />\r\n"))

                </dd>
            }
        }
    </dl>


</div>
<div>

    <a asp-action="Index">Back to List</a>
</div>
