@model P_zpp_2.Models.MyCustomLittleDatabase.Leaves;

@{ ViewData["Title"] = "Edit"; }


<div class="cardlogged">
    <div class="card-header">
        <h1>Edit</h1>

        <h4>Reservation</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="CheckIn.Date" class="control-label"></label>
                        <input asp-for="CheckIn.Date" class="form-control" />
                        <span asp-validation-for="CheckIn.Date" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CheckOut.Date" class="control-label"></label>
                        <input asp-for="CheckOut.Date" class="form-control" />
                        <span asp-validation-for="CheckOut.Date" class="text-danger"></span>
                    </div>

                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
