@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";
}


@*<div class="container">*@
<div class="d-flex justify-content-center ">
    <div class="card">
        <div class="card-header">
            <h3>Zaloguj się</h3>
        </div>
        <div class="card-body">
            <form id="account" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="input-group  form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input asp-for="Input.Email" class="form-control" placeholder="username" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>

                </div>
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <input asp-for="Input.Password" class="form-control" placeholder="password" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>

                </div>
                <div class="row align-items-center remember">
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn float-right login_btn">Zaloguj</button>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Zapomniales hasla?</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
