@model P_zpp_2.ViewModels.CompanyDepartuersListViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>
<p>
    <a asp-controller="Departures" asp-action="Create">Create New Department</a>
</p>
<div>
    <h4>Company</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.companies.CompanyName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.companies.CompanyName)
        </dd>
        <dt class="col-sm-12">
            @Html.DisplayNameFor(model => model.DepartureName)
        </dt>
        <dd class="col-sm-12">
            @Html.DisplayFor(model => model.DepartureName)
        </dd>
    </dl>
    

</div>
<div>
   
    <a asp-action="Index">Back to List</a>
</div>
