@page
@model P_zpp_2.Areas.Identity.Pages.Pracownik.GrafikPracownikModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

@foreach (var item in Model._ScheduleDaysListSDS)
{
    @if (item.StartDate < DateTime.Now) continue;
    @if ((Model.licznik++) % 2 == 0)
    {
        <div class="offset-3 col-md-6 row">
            <div class="col-md-6 div1_color">@item.StartDate.ToString("yyyy-MM-dd") </div>
            <div class="col-md-6 div1_color">@item.Title</div>
        </div> 
        }
    else
    {
        <div class="offset-3 col-md-6 row">
            <div class="col-md-6 div2_color">@item.StartDate.ToString("yyyy-MM-dd") </div>
            <div  class="col-md-6 div2_color">@item.Title</div>
        </div>
    }
}
<style>
    .div1_color {
        background-color: white;
        border-radius: 5px;
        font-size: 150%;
    }
    .div2_color {
        background-color: darkgray;
        border-radius: 5px;
        font-size: 150%;
    }

</style>